ul.tagcloud {
  list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 250%;
}

li.tag-2 {
    font-size: 200%;
}


li.tag-3 {
    font-size: 150%;
}

li.tag-4 {
    font-size: 75%;
}

a.tagcloud {

padding: 0px;

}

#tagcloud { padding: 2px; line-height: 3em; text-align: center; }

/* ... add li.tag-3 etc, as much as needed */

ul.tagcloud .list-group-item span.badge {
    background-color: grey;
    color: white;
}
